PORT=4000

DATABASE_URL=postgres://caudales_user:tu_password_seguro@localhost:5432/calculo_caudales

CORA_API_URL=https://cora.cavcenergy.com/api/plants/embalselectura/embalseion/ultimos/f595b230-39b2-460e-96f2-f397e5f91f38
CORA_API_CANTIDAD=24
CORA_SYNC_CRON=0 * * * *
CORA_SYNC_ON_START=true
